:root{
  --primary: #ed1c24;
}
.btn-solid{
  border: none;
  padding: 10px;
  border-radius: 5px;
  background-color: var(--primary);
  color: #fff;
  min-width: 150px;
}
.btn-main{
  border: none;
  padding: 10px;
  min-width: 150px;
  color: var(--primary);
  border: 2px solid var(--primary);
  border-radius: 5px;
}
@media(max-width: 578px) {
  .btn-solid, .btn-main{
    width: 100%;
  }
}